html {
  background-image: url("rainbowBG.jpg");
}

body {
  background-color: white;
  width: 700px;
  text-align: center;
  margin: 25px auto;
  padding: 25px 0;
  border-radius: 55px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 45px;
  letter-spacing: 5px;
}

hr {
  width: 500px;
}

.rgb-code {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

input {
  width: 60px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  text-align: center;
}

#greenIn {
  background-color: green;
}

#redIn {
  background-color: red;
}

#blueIn {
  background-color: blue;
}

#display {
  width: 400px;
  height: 200px;
  background-color: yellow;
  margin: auto;
  border: 3px solid grey;
}

button {
  background: grey;
  color: white;
  border-radius: 3px;
  padding: 4px 11px;
  cursor: pointer;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  color: #7cb58b;
  background: black;
}

#widthIn {
  color: black;
}

#heightIn {
  color: black;
}

p {
  letter-spacing: 2px;
}

.lp {
  font-family: "New Tegomin", serif;
}

#setBlack {
  background-color: black;
  color: white;
}

#setWhite {
  background-color: white;
  color: black;
}
